<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="text-center my-3">
                <%= foundListing.title %>
            </h3>

            <!-- Image Container -->
            <div class="card">
                <img src="<%= foundListing.image.url %>" class="show-img card-img-top" alt="listing image">
            </div>

            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>
                            <%= foundListing.description %>
                        </strong></li>
                    <li class="list-group-item"><strong>Price:</strong> $<%= foundListing.price %>
                    </li>
                    <li class="list-group-item"><strong>Location:</strong>
                        <%= foundListing.location %>, <%= foundListing.country %>
                    </li>
                </ul>
                <!-- Buttons -->
                <div class="d-flex justify-content-between mt-3 w-25">
                    <form method="get" action="/listings/<%= foundListing._id %>/edit">
                        <button class="btn btn-dark">Update</button>
                    </form>

                    <form method="post" action="/listings/<%= foundListing._id %>/delete?_method=DELETE">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8 offset-md-2">
            <hr>
            <h3>Leave a review</h3>
            <form action="">
                <div>
                    <label for="rating" class="form-label">Rating : </label>
                    <input type="range" name="reviews[rating]" id="rating" min="1" max="5"><br>
                </div>
                <textarea name="review[comment]" placeholder="Enter your comment" id="comment"
                    class="form-control"></textarea><br>
                <button class="btn btn-dark">submit</button>
            </form>
        </div>
    </div>


    <!-- Featured Section -->
    <div class="card text-center mt-4">
        <div class="card-header">Featured</div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">2 days ago</div>
    </div>